body {
  margin: 0;
  background-color: #f8f9ff;
}
.fullBody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 300px;
  padding-right: 200px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
.blur {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}
.card {
  display: flex;
  overflow-x: hidden;
  flex-direction: row;
  background: white;
  font-weight: 700;
  top: 15px;
  width: 351px;
  min-height: 56px;
  left: 16px;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}
.logo {
  display: flex;
  text-align: left;
}
.button {
  display: flex;
  min-width: 100px;
  min-height: 50px;
}
.button_div {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 24px;
  left: 2px;
  top: 2px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 6px;
}

.add_button {
  min-width: 91px;
  min-height: 36px;
  border-radius: 5px;
  background: #ffffff;
}

.add_task {
  min-width: auto;
}
.top_button {
  background: white;
  min-width: 100px;
  min-height: 50px;
  justify-content: right;
}
.top {
  display: flex;
  padding-right: 32px;
  height: 70px;
  justify-content: right;
}
.create {
  display: flex;
  padding-left: 10px;
  background: #7a8dfd;
  width: 104px;
  height: 36px;
  color: white;
  border-radius: 5px;
  border: 0px;
  justify-content: space-evenly;
  align-items: center;
}
.loadMoreBtnContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #32394b;
  border: 1px solid #dde2ff;
  border-radius: 5px;
  min-width: 117px;
  min-height: 36px;
  /* padding: 6px; */
  font-size: 16px;
  top: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  cursor: pointer;
  text-align: center;
}

.divClass {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #dde2ff;
  box-sizing: border-box;
  border-radius: 5px;
  size: 24px;
  min-width: 382px;
  min-height: auto;
  justify-content: space-between;
}
input {
  min-width: 518px;
  min-height: 36px;
  background: #ffffff;
  border: 3px solid #d1d8ff;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}
.addTaskH1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #32394b;
}
.rotateFull {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
}
.rotateDiv {
  display: flex;
  width: 50px;
  height: 47.36px;
  top: 23.68px;
  left: 66.02px;
  text-align: middle;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeout {
  animation: fadeOut 2s infinite;
}
.spinning {
  animation: spin 2s infinite;
}

.complete_date {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  font-size: 15px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-around;
  color: white;
  min-width: 150px;
  min-height: 30px;
  left: 233px;
  top: 120px;
  background: #7a8dfd;
  border-radius: 5px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  min-height: 72px;
  background: #ffffff;
  border: 1px solid #dde2ff;
  justify-content: space-between;
  align-content: center;
  padding-right: 370px;
  padding-left: 300px;
}
.searchDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.button_complete {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.headerClass {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.topButton {
  display: flex;
  min-width: 350px;
  min-height: 36px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 136px;
}
#top_button_all,
#top_button_complete,
#top_button_incomplete {
  width: 104px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #dde2ff;
  border-radius: 5px;
  font-weight: 700;
}
.createdAt_spin {
  display: flex;
  align-items: center;
}
.boxed_button {
  border: none;
  background: none;
}
textarea {
  size: 24px;
  min-width: 370px;
  min-height: 100px;
  font-size: 16pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #ffffff;
  border: 3px solid #d1d8ff;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
  resize: none;
}

.toast {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding: 6px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}
.toast--visible {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.toast--success {
  background: #0bc475;
  border-radius: 5px;
  color: #ffffff;
}
.toast--error {
  background: #e85f5f;
  border-radius: 5px;
  color: #ffffff;
}
.emptyScreen {
  display: flex;
  text-align: center;

  top: 2000px;
}
#createspin {
  position: relative;
  width: 50px;
  height: 47.36px;
  top: 50%;
  left: 50%;
}
.splash {
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 200;
  background: #e5e5e5;
  text-align: center;
  line-height: 90vh;
}
.splash.display-none {
  position: fixed;
  opacity: 0;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: -10;
  background: #e5e5e5;
  text-align: center;
  line-height: 90vh;
}
@keyframes fadeIn {
  ot {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
.add_del {
  display: flex;
  flex-wrap: wrap;
}
.h6_class {
  min-width: 131px;
  min-height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin: 7px;
  color: #bbbdd0;
}
.load_more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
