body {
  /* text-align: center; */

  padding-left: 5;
  background-color: #f8f9ff;
}
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 100px;
  justify-content: center;
}
.card {
  background: white;
  width: 220px;
  height: auto;
  margin: 10px;
}
.logo {
  display: flex;
  text-align: left;
}
.button {
  width: 100px;
  height: 50px;
  justify-content: left;
}
.add_task {
  width: auto;
}
.top_button {
  background: white;
  width: 100px;
  height: 50px;
  justify-content: right;
}
