body {
  /* text-align: center; */

  padding-left: 200px;
  /*padding-right: 50; */
  max-width: 1366px;
  background-color: #f8f9ff;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 100px;
  justify-content: center;
}
.card {
  background: white;
  width: 220px;
  height: auto;
  margin: 10px;
}
.logo {
  display: flex;
  text-align: left;
}
.button {
  width: 100px;
  height: 50px;
  justify-content: left;
}
.add_task {
  width: auto;
}
.top_button {
  background: white;
  width: 100px;
  height: 50px;
  justify-content: right;
}
.top {
  display: flex;
  padding-right: 100px;
  height: 70px;
  justify-content: right;
}
.create {
  display: flex;
  padding-left: 10px;

  width: 70px;
  height: 50px;
  align-items: center;
}
.loadMoreBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
rectangle {
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 6px;
  font-size: 20px;
  color: white;
  background-color: #32394b;
  cursor: pointer;
}

.divClass {
  background: #ffffff;
  border: 1px solid #dde2ff;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 24px;
}
input {
  background: #ffffff;
  border: 3px solid #d1d8ff;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 24px;
}
